
@{
    Layout = null;
}

<!doctype html>
<html lang="es-pe">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Sistema de Control Financiero</title>

    <link rel="shortcut icon" href="~/Content/Images/favico.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/css/Poppins.css" />
    <link href="~/Content/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/js/jquery-confirm/css/jquery-confirm.css" />
    <link href="~/Content/css/login/style.css" rel="stylesheet" type="text/css"/>
</head>

<body class="img-paper">
    <div class="container-fluid ">
        <div class="container ">
            <div class="row cdvfdfd">
                <div class="col-lg-10 col-md-12 login-box">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 log-det">
                            <div class="small-logo">
                               <h4><strong>Iniciar Sesión</strong></h4>
                            </div>
                            <p class="dfmn"><br /></p>

                            <div class="text-box-cont">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1" id="txtLogin">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1" id="txtPassword">
                                </div>

                                <div class="input-group center">
                                    <button class="btn btn-danger btn-round" onclick="login()">ACCEDER</button>
                                </div>
                                <div class="row">
                                    <p class="forget-p">Olvidaste tu contraseña? <br /><span>Recuperar Contraseña</span></p>
                                </div>
                                @*<div class="row">
                                    <p class="small-info">Connect With Social Media</p>
                                </div>*@
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 box-de">
                            <div class="inn-cover">
                                <div class="ditk-inf">
                                    <h2 class="w-100"><strong>Sistema de Control Financiero</strong></h2>
                                    @*<p></p>
                                    <a href="#">
                                        <button type="button" class="btn btn-outline-light">SIGN UP</button>
                                    </a>*@
                                </div>
                                <div class="foter-credit">
                                    <a href="https://aplicacionespnsr.vivienda.gob.pe/piasar/">©PNSR. Programa Integral de Saneamiento Rural</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/Content/js/jquery/jquery.min.js"></script>
<script src="~/Content/js/popper.js/popper.min.js"></script>
<script src="~/Content/js/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/js/jquery-confirm/jquery-confirm.js"></script>
<script src="~/Content/js/jquery.blockUI.js"></script>
<script src="~/Content/js/login/script.js"></script>
<script src="~/Content/js/jsLogin.js"></script>