
@{
    ViewBag.Title = "ReportesActividadesFamilias";
    Layout = "~/Views/Shared/_PrincipalMenu.cshtml";
}
<div class="card">
    <div class="card-block">
        @{ Html.RenderAction("_MatrizResultadosReportesPlanosCapacitacionesFamilias", "MatrizResultados"); }
    </div>
</div>

