
<li class="user-profile header-notification">
    <a href="#!">
        <img src="~/Content/Images/user-m.png" class="img-radius" alt="User-Profile-Image">
        <span>Administrador</span>
        <i class="ti-angle-down"></i>
    </a>
    <ul class="show-notification profile-notification">
        @*<li>
            <a href="#!">
                <i class="ti-settings"></i> Opciones
            </a>
        </li>
        <li>
            <a href="user-profile.html">
                <i class="ti-user"></i> Perfil
            </a>
        </li>
        <li>
            <a href="email-inbox.html">
                <i class="ti-email"></i> My Messages
            </a>
        </li>
        <li>
            <a href="auth-lock-screen.html">
                <i class="ti-lock"></i> Lock Screen
            </a>
        </li>*@
        <li>
            <a href="auth-normal-sign-in.html">
                <i class="ti-layout-sidebar-left"></i> Logout
            </a>
        </li>
    </ul>
</li>