
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-block caption-breadcrumb" style="background-color: #fff !important;color: #bf0909;border: 3px solid #bf0909;">
        <div class="breadcrumb-header">
            <h4 style="color: #bf0909;">
                <i class="fa fa-tags"></i> &nbsp; Estado Situacional de Proyectos PIASAR
            </h4>
            <span></span>
        </div>
        <div class="page-header-breadcrumb">
            <span id="SpanFechaInicio"></span>
        </div>
    </div>
</div>
<script>
        let dias = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"];
        let meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
        let date = new Date();
        let fechaNum = date.getUTCDate();
        let mes_name = date.getMonth();
        document.getElementById("SpanFechaInicio").innerHTML = "<i class='fa fa-calendar'></i> &nbsp;" + dias[date.getDay()] + ", " + fechaNum + " de " + meses[mes_name] + " del " + date.getFullYear();
</script>

<div class="row">
    <div class="col-sm-12 col-lg-5">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="sub-title"><h4>Gestión de Proyectos</h4></div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-6 col-xl-6">
                            <div class="card bg-c-yellow order-card" onclick="VerProyectos(1,0)">
                                <div class="card-body user-radial-card">
                                    <div data-label="50%" class="">
                                        <img src="../Content/Images/pages.png" style="width:90px;box-shadow: 0 0;">
                                    </div>
                                    <span id="NroElaboracionET" class="f-36 f-w-600">0</span>
                                    <p class="f-18 f-w-600">Expediente Técnico<br />&nbsp;</p>
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td style="vertical-align:middle">Contrata<br /><span id="nroContrataElaboracionET">0</span></td>
                                            <td style="vertical-align:middle">Núcleos<br /><span id="nroNucleoElaboracionET">0</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-6">
                            <div class="card bg-c-pink order-card" onclick="VerProyectos(2,1)">
                                <div class="card-body user-radial-card">
                                    <div data-label="50%" class="">
                                        <img src="../Content/Images/corte-de-cinta.png" style="width:90px;box-shadow: 0 0;">
                                    </div>
                                    <span id="NroActosPrevios" class="f-36 f-w-600">0</span>
                                    <p class="f-18 f-w-600">Actos Previos<br />&nbsp;</p>
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td style="vertical-align:middle">Contrata<br /><span id="nroContrataIniciarO">0</span></td>
                                            <td style="vertical-align:middle">Núcleos<br /><span id="nroNucleoIniciarO">0</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-xl-6 d-none">
                            <div class="card bg-c-yellow order-card" onclick="VerProyectos(2,1)">
                                <div class="card-body user-radial-card">
                                    <div data-label="50%" class="">
                                        <img src="../Content/Images/corte-de-cinta.png" style="width:90px;box-shadow: 0 0;">
                                    </div>
                                    <span id="NroPorConvocarO" class="f-36 f-w-600">0</span>
                                    <p class="f-18 f-w-600">Por Convocar<br />&nbsp;</p>
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td style="vertical-align:middle">Contrata<br /><span id="nroContrataPorConvocarO">0</span></td>
                                            <td style="vertical-align:middle">Núcleos<br /><span id="nroNucleoPorConvocarO">0</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-6">
                            <div class="card bg-c-blue order-card" onclick="VerProyectos(2,3)">
                                <div class="card-body user-radial-card">
                                    <div data-label="50%" class="">
                                        <img src="../Content/Images/workers.png" style="width:90px;box-shadow: 0 0;">
                                    </div>
                                    <span id="NroEjecucion" class="f-36 f-w-600">0</span>
                                    <p class="f-18 f-w-600">En Ejecución<br />&nbsp;</p>
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td style="vertical-align:middle">Contrata<br /><span id="nroContrataEjecucionO">0</span></td>
                                            <td style="vertical-align:middle">Núcleos<br /><span id="nroNucleoEjecucionO">0</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-6">
                            <div class="card bg-c-green order-card" onclick="VerProyectos(2,2)">
                                <div class="card-body user-radial-card">
                                    <div data-label="50%" class="">
                                        <img src="../Content/Images/finish-line.png" style="width:90px;box-shadow: 0 0;">
                                    </div>
                                    <span id="NroConcluido" class="f-36 f-w-600">0</span>
                                    <p class="f-18 f-w-600">Concluidos<br />&nbsp;</p>
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td style="vertical-align:middle">Contrata<br /><span id="nroContrataConcluidoO">0</span></td>
                                            <td style="vertical-align:middle">Núcleos<br /><span id="nroNucleoConcluidoO">0</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-sm-12 col-lg-7">
        <div class="card border-primary">
            <div class="card-header text-dark">
                <h4 style="font-size: 18px;">
                    <i class="fa fa-pie-chart"></i> Proyectos Concluidos - Sub-Estado:
                </h4>
            </div>
            <div class="card-block text-dark" style="padding:10px;">
                <div id="chartCulminadas" style="height:738px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row d-none">
        <div class="col-sm-12 col-lg-6 d-none">
            <div class="card">
                <div class="card-header">
                    <div class="sub-title"><h4>Gestión de Expediente Técnico - Actualización de Presupuesto</h4></div>
                </div>
                <div class="card-block">
                    <div class="row">
                        @*<div class="col-md-6 col-xl-6">
                            <div class="card bg-c-blue order-card" onclick="VerProyectos(1,4)">
                                <div class="card-body user-radial-card">
                                    <div data-label="50%" class="radial-bar radial-bar-90 radial-bar-lg radial-bar-danger">
                                        <img src="../Content/Images/pages.png" style="width:90px;box-shadow: 0 0;">
                                    </div>
                                    <span id="NroElaboracionET" class="f-36 f-w-600">0</span>
                                    <p class="f-18 f-w-600">En Proceso<br />&nbsp;</p>
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td style="vertical-align:middle">Contrata<br /><span id="nroContrataElaboracionET">0</span></td>
                                            <td style="vertical-align:middle">Núcleos<br /><span id="nroNucleoElaboracionET">0</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-6 col-xl-4 d-none">
                            <div class="card bg-c-pink order-card" onclick="VerProyectos(1,1)">
                                <div class="card-body user-radial-card">
                                    <div data-label="50%" class="radial-bar radial-bar-90 radial-bar-lg radial-bar-danger">
                                        <img src="../Content/Images/corte-de-cinta.png" style="width:90px;box-shadow: 0 0;">
                                    </div>
                                    <span id="NroActosPreviosET" class="f-36 f-w-600">0</span>
                                    <p class="f-18 f-w-600">Actos Previos<br />&nbsp;</p>
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td style="vertical-align:middle">Contrata<br /><span id="nroContrataActosPreviosET">0</span></td>
                                            <td style="vertical-align:middle">Núcleos<br /><span id="nroNucleoActosPreviosET">0</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-6">
                            <div class="card bg-c-green order-card" onclick="VerProyectos(1,2)">
                                <div class="card-body user-radial-card">
                                    <div data-label="50%" class="radial-bar radial-bar-90 radial-bar-lg radial-bar-danger">
                                        <img src="../Content/Images/finish-line.png" style="width:90px;box-shadow: 0 0;">
                                    </div>
                                    <span id="NroConcluidosET" class="f-36 f-w-600">0</span>
                                    <p class="f-18 f-w-600">Concluidos<br />&nbsp;</p>
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td style="vertical-align:middle">Contrata<br /><span id="nroContrataConcluidoET">0</span></td>
                                            <td style="vertical-align:middle">Núcleos<br /><span id="nroNucleoConcluidoET">0</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 d-none">
            <div class="card">
                <div class="card-header">
                    <div class="sub-title"><h4>Gestión de Proyecto en Reemplazo - Actualización de Presupuesto</h4></div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-6 col-xl-6">
                            <div class="card bg-c-blue order-card" onclick="VerProyectos(3,4)">
                                <div class="card-body user-radial-card">
                                    <div data-label="50%" class="radial-bar radial-bar-90 radial-bar-lg radial-bar-danger">
                                        <img src="../Content/Images/pages.png" style="width:90px;box-shadow: 0 0;">
                                    </div>
                                    <span id="NroEnProcesoReemplazo" class="f-36 f-w-600">0</span>
                                    <p class="f-18 f-w-600">En Proceso<br />&nbsp;</p>
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td style="vertical-align:middle">Contrata<br /><span id="nroContrataEnProcesoReemplazo">0</span></td>
                                            <td style="vertical-align:middle">Núcleos<br /><span id="nroNucleoEnProcesoReemplazo">0</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-6">
                            <div class="card bg-c-pink order-card" onclick="VerProyectos(3,2)">
                                <div class="card-body user-radial-card">
                                    <div data-label="50%" class="radial-bar radial-bar-90 radial-bar-lg radial-bar-danger">
                                        <img src="../Content/Images/corte-de-cinta.png" style="width:90px;box-shadow: 0 0;">
                                    </div>
                                    <span id="NroConcluidoReemplazo" class="f-36 f-w-600">0</span>
                                    <p class="f-18 f-w-600">Concluido<br />&nbsp;</p>
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td style="vertical-align:middle">Contrata<br /><span id="nroContrataConcluidoReemplazo">0</span></td>
                                            <td style="vertical-align:middle">Núcleos<br /><span id="nroNucleoConcluidoReemplazo">0</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="card border-primary">
                <div class="card-header text-dark">
                    <h4 style="font-size: 18px;">
                        <i class="fa fa-pie-chart"></i>Recepción Fisica y Financiera de Obras de Parte de los Municipios
                    </h4>
                </div>
                <div class="card-block text-dark" style="padding:10px;">
                    <div id="chartRecepcion" style="height:410px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 d-none">
        <div class="card border-primary">
            <div class="card-header text-dark">
                <h4 style="font-size: 18px;">
                    <i class="fa fa-pie-chart"></i> Cuadro Resumen por Estado: CONTRATA - 52 PIP
                </h4>
            </div>
            <div class="card-block text-dark" style="padding:10px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align:center;vertical-align:middle;">N°</th>
                            <th style="text-align:center;vertical-align:middle;">ESTADO</th>
                            <th style="text-align:center;vertical-align:middle;">N° DE <br />PROYECTOS</th>
                            <th style="text-align:center;vertical-align:middle;">%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center;vertical-align:middle;" rowspan="6"><strong>1</strong></td>
                            <td style="vertical-align:middle;" colspan="3"><strong>CONCLUIDOS (<span id="NroConcluidosCCR">0</span>)</strong></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">1.1 POR RECEPCIONAR</td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroPorRecepcionarCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentagePorRecepcionarCCR">0</span></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">1.2 OTA POR INICIAR</td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroOTAPorIniciarCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentageOTAPorIniciarCCR">0</span></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">1.3 OTA EN PROCESO</td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroOTAEnProcesoCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentageOTAPorIniciarCCR">0</span></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">1.4 OTA CONCLUIDA</td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroOTAConcluidaCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentageOTAPorIniciarCCR">0</span></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">1.5 EN LIQUIDACIÓN</td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroOTAEnLiquidacionCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentageOTAPorIniciarCCR">0</span></td>
                        </tr>


                        <tr>
                            <td style="text-align:center;vertical-align:middle;" rowspan="4"><strong>2</strong></td>
                            <td style="vertical-align:middle;" colspan="3"><strong>EN EJECUCIÓN (<span id="NroEnEjecucionCCR">0</span>)</strong></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">2.1 POR INICIAR</td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroPorIniciarCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentagePorIniciarCCR">0</span></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">2.2 EN EJECUCIÓN</td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroEnEjecucionCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentageEnEjecucionCCR">0</span></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">2.3 EN SUSPENSIÓN DE PLAZOS</td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroEnSuspensionCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentageEnSuspensionCCR">0</span></td>
                        </tr>

                        <tr>
                            <td style="text-align:center;vertical-align:middle;"><strong>3</strong></td>
                            <td style="vertical-align:middle;"><strong>EN PROCESO DE SUSCRIPCIÓN DE CONTRATO</strong></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroEnProcesoSuscripcionCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentageEnProcesoSuscripcionCCR">0</span></td>
                        </tr>

                        <tr>
                            <td style="text-align:center;vertical-align:middle;"><strong>4</strong></td>
                            <td style="vertical-align:middle;"><strong>POR CONVOCAR</strong></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroPorConvocarCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentagePorConvocarCCR">0</span></td>
                        </tr>

                        <tr>
                            <td style="text-align:center;vertical-align:middle;"><strong>5</strong></td>
                            <td style="vertical-align:middle;"><strong>ACTUALIZACIÓN DE PRESUPUESTOS</strong></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroActualizacionPresupuestoCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentageActualizacionPresupuestoCCR">0</span></td>
                        </tr>

                        <tr>
                            <td style="text-align:center;vertical-align:middle;"><strong>6</strong></td>
                            <td style="vertical-align:middle;"><strong>POR REEMPLAZAR</strong></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="NroPorReemplazarCCR">0</span></td>
                            <td style="text-align:center;vertical-align:middle;"><span id="PorcentagePorReemplazarCCR">0</span></td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="text-align:center;vertical-align:middle;" colspan="2"><strong>TOTAL DE PROYECTOS</strong></td>
                            <td style="text-align:center;vertical-align:middle;"><strong><span id="NroTotalProyectosCCR">0</span></strong></td>
                            <td style="text-align:center;vertical-align:middle;"><strong><span id="PorcentageTotalProyectosCCR">0</span></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-8 d-none">
        <div class="card border-primary">
            <div class="card-header text-dark">
                <h4 style="font-size: 18px;">
                    <i class="fa fa-pie-chart"></i> Cuadro Resumen por Región: CONTRATA - 52 PIP
                </h4>
            </div>
            <div class="card-block text-dark" style="padding:10px;">
                
            </div>
        </div>
    </div> 
    <div class="col-sm-12 col-lg-4 d-none">
        <div class="card border-primary">
            <div class="card-header text-dark">
                <h4 style="font-size: 18px;">
                    <i class="fa fa-pie-chart"></i> Cuadro Resumen por Estado: NUCLEO EJECUTOR - 48 PIP
                </h4>
            </div>
            <div class="card-block text-dark" style="padding:10px;">

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-8 d-none">
        <div class="card border-primary">
            <div class="card-header text-dark">
                <h4 style="font-size: 18px;">
                    <i class="fa fa-pie-chart"></i> Cuadro Resumen por Región: NUCLEO EJECUTOR - 48 PIP
                </h4>
            </div>
            <div class="card-block text-dark" style="padding:10px;">

            </div>
        </div>
    </div> 
</div>

<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="card border-primary">
            <div class="card-header text-dark">
                <h4 style="font-size: 18px;">
                    <i class="fa fa-line-chart"></i> Seguimiento de Proyectos PIASAR - Núcleo Ejecutor
                </h4>
            </div>
            <div class="card-block text-dark" style="padding:10px;">
                <div class="col-sm-12 col-lg-12" style="overflow:auto;">
                    <table id="dtNucleo" class="table table-bordered table-hover" cellspacing="0" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="card border-primary">
            <div class="card-header text-dark">
                <h4 style="font-size: 18px;">
                    <i class="fa fa-line-chart"></i> Seguimiento de Proyectos PIASAR - Contrata
                </h4>
            </div>
            <div class="card-block text-dark" style="padding:10px;">
                <div class="col-sm-12 col-lg-12" style="overflow:auto;">
                    <table id="dtContrata" class="table table-bordered table-hover" cellspacing="0" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-estadoinformacionproyecto" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fa fa-info-circle"></i> Estado de Información de Proyecto
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="alert alert-primary border-primary">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="icofont icofont-close-line-circled"></i>
                            </button>
                            <strong>Nro. Contrata:</strong>&nbsp;&nbsp;<span id="spnNroContrata">0</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="alert alert-primary border-success">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="icofont icofont-close-line-circled"></i>
                            </button>
                            <strong>Nro. Nucleos:</strong>&nbsp;&nbsp;<span id="spnNroNucleo">0</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-lg-12" style="overflow:auto;">
                        
                        <table id="dtEstadoInfo" class="table table-bordered table-hover" cellspacing="0" width="100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section _ScriptCode {
    <script src="~/Content/js/jsEstadoSituacional.js"></script>
}